/*Базовые*/
html {
  position: relative;
  min-height: 100%;
}

body{
    min-height: 75rem;
    margin-bottom: 10%;
    padding-top: 4.5rem;
    background-color: rgba(222, 233, 247, 0.55); /*цвет фота*/
}

/*Нижняя часть*/
.footer {
    position:  absolute;
    padding: 2rem 0;
    margin-top: 4rem;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f7;
}

.footer a {
    text-decoration: none;
}
/*Кнопка наверх*/
#btnback{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline: none;
    background-color: rgba(171,177,185,1);
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #868e96;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


#btnback:hover {
    background-color: #555;
    color: #fff;
    border-color: #6c757d;
}

/*Подсказка*/
#alert-solution
{
    display: none;
}

