{% extends "Test/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}
{% load widget_tweaks %}
{% load i18n %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block head_title %}
    {{ title }}
{% endblock head_title %}
{% block content %}
    <h1> {{ title }}</h1>
    {% if form.errors.non_field_errors %}
    {{ form.errors.non_field_errors }}
    {% endif %}
    <form class="form-horizontal" method="POST"> {% csrf_token %}
          {% bootstrap_form form %}
        <br>
    <button class="btn btn-success" type="submit">{% trans 'Save' %}</button>
    </form>
{% endblock  %}
