{% extends "Test/base.html" %}
{% load i18n %}
{% block head_title %}Тесты{% endblock head_title %}
{% block content %}
    <div class="float-right">
    <a href="{% url "tests:mylist" %}" class="btn btn-primary btn-sm " role="button">Мои тесты</a>
    <a href="#" class="btn btn-primary btn-sm" role="button">Результаты</a>
    </div>
    <br>
    <h1>Список тестов</h1>
{#   <div class="row">#}
{#      <div class="col-xl-4">#}
        {% for obj in object_list %}
            <div  class="breadcrumb">
                <a class="btn btn-secondary  mb-3"  href='{{ obj.id }}'>{{ obj.name }}</a>
            </div>
        {% endfor %}
{#         </div>#}
{#    </div>#}
{% endblock  %}