{% extends "Test/base.html" %}
{% load i18n %}
{% block head_title %}Тесты{% endblock head_title %}
{% block content %}
<h1>{{ object.name }}</h1>
<ul class="list-group">
            <li class=" list-group-item">{{ object.category }}</li>
            <li class=" list-group-item">{{ object.description }}</li>
           <li class=" list-group-item">{{ object.created_date }}</li>
			</ul>
    <br>
    <a class="btn btn-success" href="{% url "tests:testing" pk=test.id %}" role="button">Пройти тест</a>
{% endblock  %}

