{% extends "Test/base.html" %}
{% load i18n %}
{% block head_title %}Мои тесты{% endblock head_title %}
{% block content %}
    <div class="float-right">
    <a href="{% url "tests:levels:createL" pk=test.id %}" class="btn btn-primary btn-sm " role="button">Добавить уровень теста</a>
    </div>
    <h1>{{ object.name }}</h1>
        <ul class="media-list list-group">
            <li class="media list-group-item">{{ object.category }}</li>
            <li class="media list-group-item">{{ object.description }}</li>
            <li class="media list-group-item">{{ object.created_date }}</li>
        </ul>
    <hr>
    <br>
        {% for lofq in LevelOfTest_object_list%}
            <div class="jumbotron">
                <div class="d-flex  mb-3">
                    <a class="btn btn-primary btn-sm align-self-center ml-auto"  href="{% url "tests:levels:questions:createQ" pk=test.id level_pk=lofq.id %}" role="button">Добавить вопрос</a>
                </div>
                <div class="alert alert-light" role="alert">
                   <h3 class="d-flex">
                       <span class="badge badge-secondary align-self-center mr-auto">Уровень {{ lofq.level_index_number }}</span>
                       <a class="btn btn-dark btn-sm align-self-center" href="{{ lofq.get_absolute_url }}" >Изменить</a>
                   </h3>
                </div>
                {% for qofl in QuestionOfTest_object_list %}
                    {% if lofq.id == qofl.level_of_question_id %}
                        <ul class="list-group">
                        <li class="list-group-item active">Вопрос № {{ qofl.question_index_number }}</li>
                        {% for objc in ClosedQuestion_object_list %}
                            {% if qofl.id == objc.question_of_test_id %}
                                <li class="list-group-item">Описание вопроса: {{ objc.question_content }}</li>
                                {% for objcq in ClosedQuestionOption_object_list %}
                                    {% if objc.id == objcq.question_id %}
                                <li class="list-group-item">{{ objcq.option_number }}. {{ objcq.content }}</li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </ul>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
{% endblock  %}

