{% extends "Test/base.html" %}
{% load i18n %}
{% block head_title %}Мои тесты{% endblock head_title %}
{% block content %}
<a href="{% url "tests:create" %}" class="btn btn-primary btn-sm float-right" role="button">Добавить тест</a><br>
<h1>Список моих тестов</h1>
        {% for obj in object_list %}
    <div class="d-flex jumbotron">
       <a class="btn btn-secondary" href='{{ obj.id }}'  role="button" >{{ obj.name }}</a>
        {% if  user.is_authenticated  %}
            <a class="btn btn-primary ml-auto" href="{{ obj.get_absolute_url }}" role="button" >Изменить</a>
        {% endif %}
    </div>
        {% empty %}
       <p>Нет тестов</p>
        {% endfor %}
{% endblock  %}