{% load staticfiles %}
{#<!-- VK Widget -->#}
{#    <script type="text/javascript" src="//vk.com/js/api/openapi.js?146"></script>#}
{#    <div id="vk_community_messages"></div>#}
{#        <script type="text/javascript">#}
{#        VK.Widgets.CommunityMessages("vk_community_messages", 62743583, {expandTimeout: "120000",tooltipButtonText: "Есть вопрос?"});#}
{#    </script>#}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{#    <script scr="https://code.jquery.com/jquery-3.2.1.min.js"></script>#}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
