<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="{% url "home" %}">ЛОГО</a>
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{% url "home" %}">Главная
					<span class="sr-only"></span>
				</a>
			</li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "menus:list" %}">Меню</a>
            </li>
			<li class="nav-item">
				<a class="nav-link" href="{% url "article:list" %}">Новости</a>
			</li>
            {% endif %}
			<li class="nav-item">
				<a class="nav-link" href="{% url "contacts" %}">Контакты</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url "about" %}">О Компании</a>
			</li>
{% comment %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Тест3</a>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
					<a class="dropdown-item" href="#">Тест4</a>
					<a class="dropdown-item" href="#">Тест5</a>
					<a class="dropdown-item" href="#">Тест5</a>
				</div>
			</li>{% endcomment %}
		</ul>
		<form class="form-inline my-2 my-lg-0" method="GET" action=".">
			<input class="form-control mr-sm-2" type="text" placeholder="Поиск" name="q" >
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
			</form>
		</div>
	</nav>